footer {
    background-image: url(/assets/images/book-trace-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 25.9375rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10rem;

    & .brand {
        width: 16.5rem;

        & .logo-footer {
            position: relative;
            width: 14rem;
            margin-inline: auto;

            & img {
                width: 5.3rem;
            }

            & span {
                &::before{
                    left: 4.5rem;
                    font-size: 1.75rem;
                    top: 1px;
                }

                &::after {
                    left: 5.6rem;
                    font-size: 1.75rem;
                    bottom: 4px;
                }
            }
        }

        & .divider {
            width: 16.5rem;
        }

        & .social {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            
            & a {
                position: relative;
                width: 2.5rem;
                height: 2.5rem;

                & img {
                    width: 1.5rem;
                    height: 1.5rem;    
                    top: 0.5rem; 
                    left: 0.5rem;   
                    position: absolute;

                    z-index: 2;
                }

                &:hover::after {
                    opacity: 1;
                    scale: 1;
                    transition: scale 200ms linear, opacity 400ms linear;
                }

                &::after {
                    content: '';
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 999px;

                    background-color: var(--shape-stroke);
                    position: absolute;

                    top: 0;
                    left: 0;
                    z-index: 1;

                    opacity: 0;
                    scale: 0;
                    transition: scale 300ms linear, opacity 400ms linear;
                }
            }
        }
    }

    & .links {
        display: flex;
        gap: 3.5rem;
        width: fit-content;

        & h4 {
                margin-bottom: 0.5rem;
                color: var(--text-body);
            }

        & a {
            font: var(--Link);
            color: var(--blue-light);
            transition: color 200ms linear;

            &:hover {
                color: var(--text-body);
                transition: color 200ms linear;
            }
        }

        & .conteudo {
            display: grid;
            gap: 1rem;
            width: 8rem;
        }

        & .ajuda {
            display: grid;
            gap: 1rem;
            width: 8rem;
        }
    }
}

@media (width < 60em) {
    footer {
        flex-direction: column;
        justify-content: initial;
        gap: 2.5rem;
        padding: 0;

        & .brand {
            width: 19.4375rem;
            margin-inline: auto;
            margin-top: 6.125rem;
            border: 2px red solid;

            & .divider {
                width: 19.4375rem;
            }

            & .social {
                gap: 0.8875rem;
            }
        }

        & .links {
            border: 2px red solid;
        }
    }
}