*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

:root {
    --pink-light:#C59DD2;
    --pink-base:#9547A5;
    --pink-dark:#7D298A;
    --pink-low:rgb(63, 15, 65);

    --blue-light:#73B6D2;
    --blue-base:#358BB9;
    --blue-mid:#2374A4;
    --blue-dark:#144A72;
    --blue-low:#08233C;

    --shape-stroke:#002347;
    --shape-hover:#001933;
    --shape-base:#000F1F;
    --shape-background:#00050A;

    --text-title:#F8FBFB;
    --text-body:#E2E7E9;
    --text-body-opacity:rgb(226, 231, 233, 0.5);
    --text-label:#BAC6C9;

    --ff: "Raleway", sans-serif;

    --ff-logo: "Salsa", sans-serif;

    --Title-lg: 700 3rem var(--ff);
    --Title-md: 700 2.5rem var(--ff);
    --Title-sm: 700 2rem var(--ff);
    --Title-xs: 700 1rem var(--ff);

    --Subtitle: 500 2rem/200% var(--ff);

    --Body-lg: 400 1.25rem/140% var(--ff);
    --Body-md: 400 1rem/140% var(--ff);
    --Body-sm: 400 .875rem/140% var(--ff);
    --Body-xs: 400 .75rem/140% var(--ff);

    --Body-lg-bold: 700 1.25rem/140% var(--ff);
    --Body-md-bold: 700 1rem/140% var(--ff);
    --Body-sm-bold: 700 .875rem/140% var(--ff);
    --Body-xs-bold: 700 .75rem/140% var(--ff);

    --Button: 700 .875rem var(--ff);
    --Link: 500 .875rem var(--ff);
    --Tag: 700 .625rem var(--ff);
}

h1 { 
    font: var(--Title-lg);
    color: var(--text-title);
}

h2 {
    font: var(--Title-md);
    color: var(--text-title);
}

h3 {
    font: var(--Title-sm);
    color: var(--text-title);
}

h4 {
    font: var(--Title-xs);
}

h5 {
    font: var(--Subtitle);
}

a {
    text-decoration:none;
}

.span {
    width: 4.4rem;

    &::before {
        content: "Segredos";
        position: absolute;
        left: 3.5rem;
        top: 3px;
        color: var(--text-body);
        font-family: var(--ff-logo);
        font-size: 1.25rem;
        width: fit-content;
    }

    &::after {
        content: "Literários";
        position: absolute;
        left: 4.6rem;
        bottom: 9px;
        color: var(--text-body);
        font-family: var(--ff-logo);
        font-size: 1.25rem;
        width: fit-content;
    }

}

.mobile-only {
    display: none;
}

@media (width < 60em) {

    :root {
        --Title-lg: 700 1.75rem var(--ff);
    }
    
    span {
        &::before {
            left: 4.75rem;                    
        }

        &::after {
            left: 5.85rem;
        }
    }

    .mobile-only {
        display:initial;
    }
}