.hero {

    & .hero-header {
        background-image: url(../assets/images/hero-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        opacity: 0;

        height: 60rem;

        animation: opacity 4s forwards;

        & header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-inline: auto;
            margin-top: 3.5rem;
            max-width: 70rem;
            position: relative;

            & img {
                width: 4.4rem;
            }

            & div {
                padding-block: .75rem;
                overflow: hidden;

                border-radius: 8px;
            
                background-color: var(--pink-dark);
                width:fit-content;
                cursor: pointer;
                transition: backgroud-color 2s ease;
            
                & a {
                    position: relative;
                    border-radius: 8px;
                    padding: .85rem 1.25rem;

                    font: var(--Button);
                    color: var(--text-title);
                    z-index: 0;
                }
            }

            & a:after {
                content: '';
                position: absolute;
                width:50px;
                height: 50px;
                left: 50%;
                top: 50%;
                border-radius: 50%;
                background-color: var(--pink-base);

                transform: translate(-50%, -50%) scale(0);
                transform-origin:center;
                transition: transform 400ms ease-out, width 400ms ease-out, height 400ms ease-out, opacity 400ms;
                z-index: -1;
                opacity: 0;
            }

            & a:hover::after {
                transform: translate(-50%, -50%) scale(3);
                opacity: 1;
                transition: transform 600ms ease-out, width 600ms ease-out, height 600ms ease-out, opacity 500ms ;
            }
        }
    
        & .hero-title {
            max-width: 41rem;
            text-align: center;
            margin-inline: auto;
            margin-top: 10.25rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            & p {
                font: var(--Body-lg);
                color: var(--text-body);
                max-width: 35.5rem;
            }
        }
    }

    & .hero-animation {
        max-width: 75rem;
        margin-inline: auto;
        margin-top: 6rem;
        margin-bottom: 5rem;
        overflow: hidden;

        position: relative;

        & .hotspot-1 {
            position: absolute;
            width: 4rem;
            height: 4rem;
            top: 2rem;
            left: 34rem;

            background-image: url(../assets/images/mystery-opened-spellbook.png);
            background-size: cover;

            transition: transform 400ms;
            transform: rotate(20deg);
            scale: 0;
        }

        & .hotspot-2 {
            position: absolute;
            width: 4rem;
            height: 4rem;
            top: 16rem;
            left: 2.125rem;

            background: url(../assets/images/mystery-opened-spellbook.png);
            background-size: cover;

            transition: transform 400ms;
            transform: rotate(20deg); 
            scale: 0;
        } 

        & .hotspot-3 {
            position: absolute;
            width: 4rem;
            height: 4rem;
            top: 16rem;
            right: 2.125rem;

            background: url(../assets/images/mystery-opened-spellbook.png);
            background-size: cover;
            
            transition: transform 400ms;
            transform: rotate(20deg);
            scale: 0;
        }

        & h5 {
            text-align: center;
            padding: 7.125rem 2rem 9.875rem;        
            color: var(--text-body-opacity);
            position: relative;
            overflow: hidden;

            transition: color 400ms;

            & strong {
                color: var(--blue-light);
            }
        }

        &:hover {

            & .hotspot-1 {
                animation: hotspot-enter 400ms forwards;
                animation-delay: 0ms;

                &:hover {
                    transform: scale(1.1) rotate(30deg);
                    transition: transform 400ms;
                }
            }

            &:hover .hotspot-2 {
                animation: hotspot-enter 400ms forwards;
                animation-delay: 600ms;

                &:hover {
                    transform: scale(1.1) rotate(30deg);
                    transition: transform 400ms;
                }
            }

            &:hover .hotspot-3 {
                animation: hotspot-enter 400ms forwards;
                animation-delay: 1000ms;

                &:hover {
                    transform: scale(1.1) rotate(30deg);
                    transition: transform 400ms;
                }
            }

            & h5 {
                color: var(--text-body);
                transition: color 400ms;
            }
        }
    }
}

@keyframes opacity {
    to {
        opacity: 1;
    }
}

@keyframes hotspot-enter {
  to {
    scale: 1;
  }
}

@media (width < 60em) {
    .hero {
        & .hero-header {
            height: 30rem;

            & header {
                margin-top: 1.25rem;
                padding-inline: 1.25rem;

                & span {
                    display: none;
                }
            }

            & .hero-title {
                max-width: 20.937rem;
                gap: 1rem;
                margin-top: 3rem;

                & p {
                font: var(--Body-sm);
                max-width: 20.937rem;
                }
            }
        }

        & .hero-animation {
            max-width: 23.4375rem;
            margin-top: 2rem;
            margin-bottom: 0;

            & .hotspot-1 {
                width: 2rem;
                height: 2rem;
                top: 2.3rem;
                left: 15rem;

                scale: 1;
            }

            & .hotspot-2 {
                width: 2rem;
                height: 2rem;
                top: 9.6rem;
                left: 2rem;

                scale: 1;
            } 

            & .hotspot-3 {
                width: 2rem;
                height: 2rem;
                top: 10.6rem;
                left: 19rem;

                scale: 1;
            }

            & h5 {
                padding: 5.09375rem 1.5rem 5.09375rem 1.5rem;        
                font: 500 1rem/140% var(--ff);
                color: var(--text-body);

                & strong {
                    color: var(--text-body);
                    font-weight: 500;
                }
            }
        }
    }
}