.hero {
    background-color: var(--shape-background);

    background-image: url(/assets/images/hero-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;

    height: 60rem;

    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-inline: auto;
        margin-top: 3.5rem;
        max-width: 70rem;
        position: relative;

        & img {
            width: 4.4rem;
        }

        & div {
            padding-block: .75rem;
            overflow: hidden;

            border-radius: 8px;
            
            background-color: var(--pink-dark);
            width:fit-content;
            cursor: pointer;
            transition: backgroud-color 2s ease;
            
            & a {
                position: relative;
                border-radius: 8px;
                padding: .85rem 1.25rem;

                font: var(--Button);
                color: var(--text-title);
                z-index: 0;
            }
        }

        & a:after {
            content: '';
            position: absolute;
            width:50px;
            height: 50px;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            background-color: var(--pink-base);

            transform: translate(-50%, -50%) scale(0);
            transform-origin:center;
            transition: transform 400ms ease-out, width 400ms ease-out, height 400ms ease-out;
            z-index: -1;
        }

        & a:hover::after {
            transform: translate(-50%, -50%) scale(3);
            transition: transform 600ms ease-out, width 600ms ease-out, height 600ms ease-out;
        }
    }   
}

@media (width < 60em) {
    .hero {
        height: 30rem;

        & header {
            margin-top: 1.25rem;
            padding-inline: 1.25rem;

            & span {
                display: none;
            }
        }
    }
}